
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 10px;
    padding: 20px;
    line-height: 1.4; 
}


nav {
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 45px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a.active {
    color: #fcfcfc;
    font-weight: bold;
    border-bottom: 2px solid #fcfcfc;
}


main {
    padding: 20px;
    color: #000000;
}

h1 {
    font-size: 2em; 
    color: #000000;
    margin-bottom: 20px; 
}

h2 {
    font-size: 1.5em; 
    color: #000000;
    margin-bottom: 10px; 
}

h3 {
    font-size: 1.3em; 
    color: #000000;
    margin-bottom: 10px; 
    margin-top: 10px;
}

p {
    font-size: 1em; 
    color: #000000;
    margin-bottom: 10px; 
}


article {
    background-color: #ffffff;
    color: #000000;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: center;
    max-width: 600px;
}

article img {
    max-width: 70%;
    height: auto; 
    display: block; 
    margin: 5%; 
    border-radius: 5px;
}


.two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.pet-box.max { background-color: #F0A3A3; }
.pet-box.alex { background-color: #A3D1F0; }
.pet-box.vava { background-color: #A3F0D1; }
.pet-box.tux { background-color: #F0E1A3; }
.pet-box.angela { background-color: #D1A3F0; }

.skip-link {
    position: absolute;
    left: -999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-link:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    margin: 10px;
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}
